body {
	background:#fff;
}


.login-block {
	margin-top:10px;
}

.frame {
	background:#fff;
	text-align:center;
}

.login-tab {
	margin-top:40px;
}

.login-tab .command-button{
	margin-top:30px;
	margin-bottom:30px;
	padding-top:20px;
	padding-bottom:20px;
}

.login-tab .command-button.login {
	width:500px;
}
.login-tab .command-button.login.valid {
	background: #6ee6a3; 
}

.login-tab .large.remove.valid {
	background:#E98D69;
	color:#efeaed;
}

button.remove.large {
	padding-top:32px;
	padding-bottom:32px;
}

.user.login.command-button span {
	margin-left:30px;
}

.user.login.command-button small {
	color:#666;margin-top:10px;margin-left:80px;
}

.balloon.loadding-balloon {
	padding-top:50px;
	padding-bottom:50px;
	padding-left:20px;
	padding-right:20px;
	border:1px solid #555;
	border-radius:6px;
	color:#888;
}
.metro .grid .row.portlist {
}
.metro .grid .row.portlist h3{
	margin-bottom:50px;
	font-weight:bold;
}
button.portconnect {
	background:#abc708;
	color:white;
	font-family:'BebasNeueRegular';
	letter-space:5px;
	margin-bottom:10px;
}

img.logo {
	position:fixed;
	right:10px;
	bottom:30px;
	opacity:0.5;
}

.icon-div {
	color: grey;
	cursor: pointer;
	position: fixed;
	bottom: 50px;
	left: 20px;
}

.loader {
	position: fixed;
	left: 480px;
	top: 200px;
	display:none;
}
